.box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2),
        2px 0 0 0 rgba(0, 0, 0, .1),
        0 4px 5px 0 rgba(0, 0, 0, .14),
        0 1px 10px 0 rgba(0, 0, 0, .12);
}

.box__p {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    text-align: center;
    margin: 0;
}

.error__p{
    color: red;
    margin: 8px 0 0 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}